.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 15px;
}

.delivery{
    font-weight: bold;
}

.amount{
    font-weight: bold;
}

.total{
    font-weight: bold;
    font-size: larger;
}

.fullContainer {
    padding-left: 32px;
    padding-right: 32px;
}