.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delivery{
    font-weight: bold;
}

.amount{
    font-weight: bold;
}

.total{
    font-weight: bold;
    font-size: larger;
}