ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    font-size: small;
}

img {
    float: left;
    width: 200px;
    height: 200px;
}

.cartImage{
    height: 121px;
    object-fit: contain;
}

.itemBoxSize {
    width: 96%;
}

.textMoveDown20px {
    position: relative;
    top: 20px
}
/*
.textMoveDown65px {
    position: relative;
    top: 65px;
}
*/
.icon-text {
    display: flex;
    align-items: center;
}

.deliveryText{
    align-items: center;
}

.marginLeft10px {
    margin-left: 10px;
}

.titelText{
    margin-bottom: 6px;
}

.itemCounter{
    width: 90px;
    height: 22px;
    background-color: #D9D9D9;
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
}

.spaceBetween {
    justify-content: space-between;
}

.topRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.columnNames {
    display: flex;
    flex-direction: row;
    min-width: 32%;
}

.pricesContainer {
    min-width: 33%;
}

.prices {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.container{
    display: flex;
    align-items: center;
}

.itemRow {
    align-items: center;
}

.giftWrapContainer {
    margin: 5px;
}

.itemNames {
    justify-content: space-around;
    height : 121px;
}

.marginLeft10px {
    margin-left: 10px;
}

.topText {
    align-items: center;
    margin-top: 13px;
}